{% extends 'base.html' %}

{% block title %}
  Welcome |
{% endblock %}

{% block content %}
  <h2 class="subtitle has-text-centered">Featured products</h2>

  {% comment %} {% with list_products=products %}
    {% include 'parts/product_list.html' %}
  {% endwith %} {% endcomment %}

  <hr />

  <div class="featured-categories">
    {% comment %} {% for category in featured_categories %}
      <h2 class="subtitle has-text-centered">{{ category.title }}</h2>

      {% with list_products=category.products.all|slice:':4' %}
        {% include 'parts/product_list.html' %}
      {% endwith %}
    {% endfor %} {% endcomment %}
  </div>

  <h2 class="subtitle has-text-centered">Popular products</h2>

  {% comment %} {% with list_products=popular_products %}
    {% include 'parts/product_list.html' %}
  {% endwith %} {% endcomment %}

  <h2 class="subtitle has-text-centered">Recently viewed products</h2>

  {% comment %} {% with list_products=recently_viewed_products %}
    {% include 'parts/product_list.html' %}
  {% endwith %} {% endcomment %}
{% endblock %}
